__MACOSX/

datasets/
datasets/Berkeley/masks/
datasets/TETRIS.zip
*.zip

GPCIS/
CFR-ICL/
CDNet/
AdaptiveClick/
MobileSAM/
SAM/
SAM-HQ/
SAM2/
SAM2.1/
SimpleClick/
RITM/
ClickabilityModel/
ClickabilityModelAblation/
ClickabilityModelAblationResults/
ClickabilityModelAblationResults/
evaluation_logs/
datasets/clicks.csv
*.egg-info/
segment-anything-2/
.DS_Store
view?usp=drive_link

logs/
*.log
__pycache__/

*.pt
*.pth
*.pkl
*.csv
*.json
*.yaml
*.yml
*.txt
*.npy

.ipynb_checkpoints/
