__MACOSX/

datasets/
datasets/TETRIS.zip
*.zip

GPCIS/
CFR-ICL/
CDNet/
AdaptiveClick/
MobileSAM/
SAM/
SAM-HQ/
SAM2/
SAM2.1/
SimpleClick/
RITM/
ClickabilityModel/
ClickabilityModelAblation/
ClickabilityModelAblationResults/
ClickabilityModelAblationResults/

segment-anything-2/


logs/
*.log
__pycache__/

*.pt
*.pth
*.pkl
*.csv
*.json
*.yaml
*.yml
*.txt
*.npy

.ipynb_checkpoints/
